.App {
  text-align: center;
}

a {
  text-decoration:none;
  color:inherit;
}

.navbar {
  height:70px;
  background-color:#2a475e ;
  display:flex;
  justify-content: space-around;
  align-items:center;
  color:white;
}

.navlinks {
  list-style:none;
  display:flex;
  height:100%;
}

.navlinks li {
  display:flex;
  align-items: center;
}

.navbar a {
  box-sizing:border-box;
  padding:2em;
  height:100%;
  display:flex;
  align-items: center;
}

.navbar a:hover {
  background-color:rgba(0,0,0,0.3);
  transition: all 0.2s ease;
}